<div class="timeline">
	<% month = 2629746%>
	<% currentBoundary = 3*month%>
	<% recentBoundary = 6*month%>
	<section class="current">
		<span class="title">
			<p>Currently</p>
		</span>
		<ul class="content">
			<% @works.each do |work| %>
				<% if work.current? %>
					<li>
						<div class="description">
							<%= timeline_markdown work.description %>
						</div>
						<p class="skills">
							<% if !work.skills.nil? %>
								<%= work.skills.split(",").map(&:strip).join(" / ") %>
							<% end %>
						</p>
						<div id="admin_section">
							<% if user_signed_in? %>
								<%= link_to("Edit", edit_work_path(work)) %>
							<% end %>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
	</section>
	<section class="recently">
		<span class="title">
			<p>Recently</p>
		</span>
		<ul class="content">
			<% @works.each do |work| %>
				<% if ((Time.now.to_i-work.start_date.to_time.to_i) < recentBoundary) &&  ((Time.now.to_i-work.start_date.to_time.to_i) > currentBoundary)%>
					<li>
						<div class="description">
							<%= timeline_markdown work.description %>
						</div>
						<p class="skills">
							<% if !work.skills.nil? %>
								<%= work.skills.split(",").map(&:strip).join(" / ") %>
							<% end %>
						</p>
						<div id="admin_section">
							<% if user_signed_in? %>
								<%= link_to("Edit", edit_work_path(work)) %>
							<% end %>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
	</section>
	<section class="past">
		<span class="title">
			<p>Past</p>
		</span>
		<ul class="content">
			<% @works.each do |work| %>
				<% if (Time.now.to_i-work.start_date.to_time.to_i) > recentBoundary %>
					<li>
						<div class="description">
							<%= timeline_markdown work.description %>
						</div>
						<p class="skills">
							<% if !work.skills.nil? %>
								<%= work.skills.split(",").map(&:strip).join(" / ") %>
							<% end %>
						</p>
						<div id="admin_section">
							<% if user_signed_in? %>
								<%= link_to("Edit", edit_work_path(work)) %>
							<% end %>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
	</section>
	<hr>
	<div id="download_CV_box">
		<a href="https://drive.google.com/file/d/0B0KVOiv1pO_vWk9UdzdGX2VMaDA/view?usp=sharing" target="_blank">Download CV</a>
	</div>
</div>
