<div id="post_show_content" class="wrapper wrapper_padding">
	<header>
		<p class="date"><%= @post.created_at.strftime("%A, %B, %d") %></p>
		<h1><%= @post.title%></h1>
		<hr>
	</header>
	<div class="content">
		<%= markdown @post.content.html_safe %>
	</div>
	<hr>

	<% if user_signed_in? %>
		<div id="admin_links">
			<%= link_to("Edit Article", edit_post_path(@post)) %>
			<%= link_to("Delete Article", post_path(@post) , method: :delete, data: {confirm: "Are you sure?"}) %>
		</div>
	<% end %>

	<div id="share_box">
		<p>Share <%= @post.title %></p>
		<!-- Twitter -->
		<a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by @rileysparsons - &amp;url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>
	</div>
	<hr>
	<%= render "disqus" %>
</div>
